<div class="footer container-fluid">

    <div class="row">
      <div class="col-md-2 logo-wrapper">
        <img id="logo" src="/assets/images/logo.png">
      </div>
      <div class="col-md-5">
        <div class="middleWrapper">
          <div class="footer-item">
            <i class="fa fa-phone"></i>
            <a class="text" routerLink="/contact">Schedule a Discovery Call</a>
          </div>
          
          <div class="footer-item">
            <i class="fa fa-envelope"></i>
            <a class="text" href="mailto:sunita@snsvirtualsolutions.com">Request More Information</a>
          </div>              
        </div>
      </div>
      <div class="col-md-5">
          <p class="text" id="footer-copyright">&#169;2020 SNS Virtual Solutions, LLC</p>
      </div>   
    </div>
</div>
