<div class="footer container-fluid">

    <div class="row">
      <div class="col-md-2 logo-wrapper">
        <span class="circle-logo">SNS</span>
      </div>
      <div class="col-md-5">
          <div class="footer-item">
            <i class="fa fa-phone"></i>
            <a routerLink="/contact">Schedule a Discovery Call</a>
          </div>
          
          <div class="footer-item">
            <i class="fa fa-envelope"></i>
            <a href="#">Request More Information</a>
          </div>              
      </div>
      <div class="col-md-5">
          <p id="footer-copyright">&#169;2020 SNS Virtual Solutions, LLC</p>
      </div>   
    </div>
</div>
