<app-nav-colored></app-nav-colored>
<div class="about-background">
  <div class="about-landing container">
    <h1>ABOUT US</h1>
  </div>
  <!--End Landing Page Section-->

  <div id="about-main" class="container">
    <div class="row">
      <div class="col-lg-6" id="profile-pic-wrapper">
        <div>
            <img id="profile-pic" src="/assets/images/placeholder.png" />
        </div>
        <div class="qbo-logo">
            <img id="logo" src="/assets/images/qbo.png" />
        </div>
      </div>

      <div class="col-lg-6 about-description">
        <h3>
          Sunita Chauhan, MBA<br />
          QuickBooks Certified ProAdvisor
        </h3>
        <p>
          Sunita provides virtual bookkeeping services to solopreneurs or
          startups who provide professional services.
        </p>
        <p>
          She has earned her MBA from University of Alabama, Huntsville (UAH) in
          2014.She has B.S. in Information Systems Management from Maryville
          University, St Louis, MO. She has over 15 years of experience in small
          business accounting using QuickBooks. She is also currently an Intuit
          QuickBooks Live Expert virtual bookkeeper helping small businesses.
          Sunita has also worked for about a year providing technical
          support/Customer Service to QuickBOOks online clients and also offers
          QuickBooks Training and Support. This gives her the flexibility to
          have desired work life balance, and time to develop her own practice.
        </p>
        <p>
          Her goal is to educate and empower small business with their
          bookkeeping needs and use of QuickBooks Online software.
        </p>
        <p>
          She has worked with various clients int he service industry like IT
          consultants, Real estate brokers, Home care services ets.
        </p>
        <p>
          Her services range from setup, training and support, cleanup, monthly
          bookkeeping.
        </p>
        <div class="call-btn">
          <a routerLink="/contact" class="btn btn-outline-info btn-small"
            >Schedule a Discovery Call</a
          >
        </div>
      </div>
    </div>

  </div>
  <!--End about main section-->
</div>
<!--End grey background color-->

<div id="quote-section" class="container-fluid">
  <p>"Today is the opportunity to build the tomorrow you want."</p>
</div>
