.about-background {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 4rem;
  min-height: 100vh;
}
.about-landing {
  text-align: center;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
  color: #0f2f4e;
  font-style: bold;
  background-color: white;
}
#about-main {
  background-color: white;
}
.about-description {
  margin: 1rem 0rem;
}
.about-description h3 {
  padding-bottom: 1rem;
}
#profile-pic {
  width: 100%;
}
.qbo-logo {
  margin: 2rem auto;
  text-align: center;
}
#logo {
  width: 120px;
}
.about-description h3 {
  font-size: 25px;
}
#quote-section {
  background-color: #19a2b8;
  color: white;
  font-style: italic;
  padding: 2rem;
  text-align: center;
  vertical-align: middle;
}
#quote-section p {
  font-size: 20px;
}
.call-btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
hr {
  width: 75%;
  margin: auto;
}

/*Large Mobile About Us*/
@media (min-width: 375px) {
  .about-landing {
    padding-top: 6rem;
  }
}
@media (min-width: 425px) {
  .about-description h3 {
    letter-spacing: 1px;
    font-size: 28px;
  }
  .about-background{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/*Tablet About Us*/
@media (min-width: 768px) {
  .about-background{
    padding:4rem;
  }
  #about-main {
    padding: 1rem 0rem;
  }
  .about-description {
    text-align: left;
    margin: 0rem;
    padding-left: 1rem;
  }
  #profile-pic-wrapper{
    text-align: center;
  }
  #profile-pic{
    width: 80%;
  }
  #logo{
    width: 151px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/*Laptop About Us*/
@media (min-width: 992px) {
  #about-main {
    padding: 1rem;
  }
  .about-background {
    padding: 3rem;
  }
  .call-btn{
    text-align: left;
  }
  #profile-pic{
    width: 100%;
  }
}
@media(min-width:1200px){
  #profile-pic{
    width: 87%;
  }
}
