<app-nav-colored></app-nav-colored>
<div class="about-background">
    <div class="about-landing container">
        <h1>ABOUT US</h1>
    </div><!--End Landing Page Section-->

    <div id="about-main" class="container">
        <div class="row">

            <div class="col-md-6" id="profile-pic-wrapper">
                <img id="profile-pic" src="/assets/images/placeholder.png">
            </div>

            <div class="col-md-6 about-description">
                <h3>Meet Sunita!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est labore rerum, cum vel illo, accusantium at vero exercitationem 
                culpa quisquam ullam omnis nulla minima consequuntur quam, consequatur itaque velit quibusdam.
                Culpa quisquam ullam omnis nulla minima consequuntur quam, consequatur itaque velit quibusdam.</p>
                <div class="call-btn"><a routerLink="/contact" class="btn btn-outline-info btn-small">Schedule a Discovery Call</a></div>
            </div>
        </div>
        
        <hr>
        <div class="row qbo-bottom">
            <div class="col-md-6 text-center">
                <img class="qbo-logo" src="/assets/images/qbo.png">
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est labore rerum, cum vel illo, accusantium at vero exercitationem 
                    culpa quisquam ullam omnis nulla minima consequuntur quam, consequatur itaque velit quibusdam.</p>
            </div>
        </div>

    </div> <!--End about main section-->
    
</div> <!--End grey background color-->

<div id="quote-section" class="container-fluid">
    <p>"Today is the opportunity to build the tomorrow you want."</p>
</div>
