<div class="container-fluid home-services shadow">
  <h1 class="text-center serve-margin">WHAT WE OFFER</h1>

  <div class="row">
    <!--Start Cards-->

    <div id="card1" class="col-lg-6 card-col">
      <div class="card bg-light shadow">
        <img
          class="card-img-top"
          src="/assets/images/checklist.png"
          alt="computer image"
        />
        <div class="card-body">
          <h4 class="card-title">QuickBooks Online Setup</h4>
          <p class="card-text">
            If you are a new business or first time user of QuickBooks Online
            and are ready to get started with Bookkeeping the right way, we do
            the Initial Set Up. <br /><br />
            QuickBooks Certified Proadvisors will assist you with deciding which
            version of QuickBooks is best for your business needs. <br /><br />
            We will walk you through setup and come up with a customized
            training plan to provide you with all of the essentials for managing
            your own day-to-day Quickbooks bookkeeping.
          </p>
        </div>
        <div class="card-footer">
          <a
            [routerLink]="'/services'"
            [state]="{ subRoute: 'setup' }"
            class="btn btn-primary stretched-link"
            >Learn More</a
          >
        </div>
      </div>
    </div>

    <div id="card2" class="col-lg-6 card-col">
      <div class="card bg-light shadow">
        <img
          class="card-img-top"
          src="/assets/images/lifeline.png"
          alt="computer image"
        />
        <div class="card-body">
          <h4 class="card-title">QuickBooks Online Cleanup</h4>
          <p class="card-text">
            If you have fallen behind in keeping up your books and you need to
            make sure months/years of bookkeeping is correct then we do
            Cleanup.<br /><br />
            Process starts with a 30 min free Discovery call to learn about your
            business and your pain points. Then we do a Paid Diagnostic Review
            for $100, with a proposal and cost of cleanup agreement/findings.<br /><br />
            Once you sign the agreement and pay half upfront, we get started.
          </p>
        </div>
        <div class="card-footer">
          <a
            [routerLink]="'/services'"
            [state]="{ subRoute: 'cleanup' }"
            class="btn btn-primary stretched-link"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="card3" class="col-lg-6 card-col">
      <div class="card bg-light shadow">
        <img
          class="card-img-top"
          src="/assets/images/umbrella-cropped.png"
          alt="computer image"
        />
        <div class="card-body">
          <h4 class="card-title">Monthly Bookkeeping Services</h4>
          <p class="card-text">
            Once the initial set up is done, we present you with two options for
            your ongoing bookkeeping.<br /><br /><strong>As Needed</strong> is
            you do day-to-day tasks yourself and we will take care of monthly
            categorization and bank and credit card reconciliations for you.<br /><br /><strong
              >Full Service</strong
            >
            is you outsource all bookkeeping to us.
          </p>
        </div>
        <div class="card-footer">
          <a
            [routerLink]="'/services'"
            [state]="{ subRoute: 'monthly' }"
            class="btn btn-primary stretched-link"
            >Learn More</a
          >
        </div>
      </div>
    </div>
    <div id="card4" class="col-lg-6 card-col">
      <div class="card bg-light shadow">
        <img
          class="card-img-top"
          src="/assets/images/up-arrows-900.jpg"
          alt="computer image"
        />
        <div class="card-body">
          <h4 class="card-title">Training & Support</h4>
          <p class="card-text">
            Perfect for business owners who are just getting started, who prefer
            to be hands-on or DIY, or just simply want the guidance and support
            of a trusted Quickbooks ProAdvisor at your convenience.
          </p>
        </div>
        <div class="card-footer">
          <a
            [routerLink]="'/services'"
            [state]="{ subRoute: 'monthly' }"
            class="btn btn-primary stretched-link"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>

  <!--End Cards-->
  <div class="row">
    <div class="col-12 additional-help">
      <h4>Looking for Something Else?</h4>
      <p>
        Check out our
        <a
          [routerLink]="'/services'"
          [state]="{ subRoute: 'additional' }"
          type="btn btn-primary"
          >additional services</a
        >!
      </p>
    </div>
  </div>
</div>
