<div class="container-fluid home-services shadow">
    <h1 class="text-center serve-margin">SERVICES</h1>
    
    <div class="row"> <!--Start Cards-->
      
        <div id="card1" class="col-lg-4 card-col">
          <div class="card bg-light shadow">
            <img class="card-img-top" src="/assets/images/checklist.png" alt="computer image">
            <div class="card-body">
              <h4 class="card-title">QuickBooks Online Setup</h4>
              <p class="card-text">Stares at human while pushing stuff off a table licks your face for meeeeouw and chase laser. 
              Get my claw stuck in the dog's ear. Purr shred all toilet paper and spread around the house adventure</p>
            </div>
            <div class="card-footer">
              <a routerLink="/services" class="btn btn-primary stretched-link">Learn More</a>
            </div>
          </div>
        </div>
            
        <div id="card2" class="col-lg-4 card-col">
          <div class="card bg-light shadow">
            <img class="card-img-top" src="/assets/images/lifeline.png" alt="computer image">
            <div class="card-body">
              <h4 class="card-title">QuickBooks Online Cleanup</h4>
              <p class="card-text">Stares at human while pushing stuff off a table licks your face for meeeeouw and chase laser. 
              Get my claw stuck in the dog's ear. Purr shred all toilet paper and spread around the house adventure</p>
            </div>
            <div class="card-footer">
              <a routerLink="/services" class="btn btn-primary stretched-link">Learn More</a>
            </div>
          </div>
        </div>
   
        <div id="card3" class="col-lg-4 card-col">
          <div class="card bg-light shadow">
            <img class="card-img-top" src="/assets/images/umbrella-cropped.png" alt="computer image">
            <div class="card-body">
              <h4 class="card-title">Monthly Bookkeeping Services</h4>
              <p class="card-text">Stares at human while pushing stuff off a table licks your face for meeeeouw and chase laser. 
              Get my claw stuck in the dog's ear. Purr shred all toilet paper and spread around the house adventure</p>
            </div>
            <div class="card-footer">
              <a routerLink="/services" class="btn btn-primary stretched-link">Learn More</a>
            </div>
          </div>
        </div>
      
    </div> <!--End Cards-->
    <div class="row">
      <div class="col-12 additional-help">
        <h4>Looking for Something Else?</h4>
        <p>Check out our 
          <a href="#" type="btn btn-primary">additional services</a>!</p>
        </div>
    </div>   
    </div>   