.home-services {
  padding: 4rem 1rem;
  text-align: center;
}
.serve-margin {
  margin-bottom: 0.5rem;
}
.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 70%;
  border-radius: 50%;
}
.card-text {
  text-align: left;
}
.additional-help {
  margin-top: 4rem;
  text-align: center;
}
.card-col {
  margin-top: 1.5rem;
  transition: margin 0.35s ease;
}
.hovering {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  transition: margin 0.35s ease;
}
@media (min-width: 425px) {
  .card-img-top {
    width: 50%;
  }
  .card-text {
    padding: 1rem;
  }
}
/*Medium-ish Services Home*/
@media (min-width: 600px) {
  .home-services {
    padding: 10% 4rem;
  }

  .additional-help {
    margin-top: 5rem;
    font-size: x-large;
  }
  .card-img-top {
    width: 200px;
  }
}
/*Tablet Services Home*/
@media (min-width: 992px) {
  .card-title{
    text-align: center;
  }
  .additional-help {
    margin-top: 4rem;
    font-size: large;
    text-align: center;
    font-size: x-large;
  }
  .card {
    height: 95%;
    width: 95%;
  }
  .row{
    justify-content: center;
  }
}
/*Large Services Home*/
@media (min-width: 1024px) {
  .home-services {
    padding: 5rem;
  }
  .card-img-top {
    height: 200px;
  }
}

/*Larger Projects*/
@media (min-width: 1200px) {
  .home-services {
    padding: 5rem 15%;
  }
}
