.single-services {
  padding: 2rem 0.75rem;
}
.service-text {
  margin-top: 1rem;
}
.service-text p {
  margin-top: 1.5rem;
}
.service-heading {
  margin-top: 1rem;
  letter-spacing: 1px;
}
.leftSide{
  text-align: center;
}
#circle5{
  animation: rotating 9s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
  }
#circle1{
  animation: rotatingBack 11s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
  }

  @keyframes rotating {
    from{
      transform: rotateZ(0deg);
    }
    to{
      transform: rotateZ(360deg);
    }
  }
  @keyframes rotatingBack {
    from{
      transform: rotateZ(360deg);
    }
    to{
      transform: rotateZ(0deg);
    }
  }
/*Tablet view for Service Blocks*/
@media (min-width: 768px) {
  .single-services {
    padding: 3rem 1rem 5rem 1rem;
  }
}

/*Labtop view for Service Blocks*/
@media (min-width: 992px) {
  .single-services {
    padding: 2rem 4rem 4rem 4rem;
  }
  .service-text {
    font-size: 1rem;
  }
}

/*Large Laptop*/
@media (min-width: 1440px) {
  .single-services {
    padding: 1rem 13% 4rem 13%;
  }
}

