<div class="container-fluid single-services" id="additional">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img
        id="stepping-img"
        class="img-fluid shadow"
        src="/assets/images/stepping-500.jpg"
        srcset="/assets/images/stepping-500.jpg 500w,
                /assets/images/stepping-1280.jpg 768w"
        alt="Clients Photo"
      />
    </div>
    <div class="col-lg-6 lead service-text">
      <h2 class="service-heading">Additional Services</h2>
      <p>
        With my comprehensive knowledge and experience of over 15 years working
        as Business Analyst, Intuit Technical Support Agent for Intuit for
        QuickBooks Online, Inuit QuickBooks Online Virtual Bookkeeper, I provide
        training & support for Quickbooks Online as needed.
      </p>
      <!-- <ul class="listing">
        <li>
          <p>cat walk on car leaving trail</p>
        </li>
        <li>
          <p>cat walk on car leaving trail</p>
        </li>
        <li>
          <p>cat walk on car leaving trail</p>
        </li>
        <li>
          <p>cat walk on car leaving trail</p>
        </li>
      </ul> -->
    </div>
    
  </div>
</div>
<!--End Additional Services-->
