.bkgWrapper{
  padding: 5% 4rem;
}
#textBox{
  width: 98%;
  margin-top: 1rem;
}

.myFormInput {
  width: 95%;
}
table{
  width: 100%;  
}
.checkInput{
  display: inline-block;
  margin-left: 1rem;
  margin-top: 1rem;
}