.bkgWrapper{
  padding: 7% 4rem 6% 4rem;
}
#textBox{
  width: 98%;
  margin-bottom: 1rem;
}
.contactHeading{
  text-align: center;
  margin-bottom: 1.5rem;
}
.contactHeading h1{
  margin-bottom: 1.5rem;
}
.myFormInput {
  width: 95%;

}
table{
  width: 100%;  
}
.checkInput{
  display: inline-block;
  margin-left: 1rem;
  margin-top: 1rem;
}
.checkBoxSection{
  color: #555454;
  margin-top: 1rem;
  margin-bottom: 1rem;
}