<div class="container-fluid single-services">
              
    <div id="setup" class="row"> 
        <!--Start Left Descriptions-->
        <div class="col-lg-6 lead service-text">
            <!--Start Service 1 SETUP-->
            <div id="svc1" class="row">
                <div class="col-md-12">
                <h3 class="service-heading">QuickBooks Online Setup</h3>
                <p>Taco cat backwards spells taco cat walk on car leaving trail of paw prints on hood and windshield or lick butt and make a weird face mark territory, 
                    so kick up litter. Push your water glass on the floor disappear for four days and return home with an expensive injury</p>
                <ul class="listing">
                    <li>
                        <p>cat walk on car leaving trail</p>
                    </li>
                    <li>
                        <p>cat walk on car leaving trail</p>
                    </li>
                    <li>
                        <p>cat walk on car leaving trail</p>
                    </li>
                    <li>
                        <p>cat walk on car leaving trail</p>
                    </li>
                </ul>
            </div>
                <div class="quote-btn">
                    <a
                     [routerLink]="'/contact'"
                     [state]="{ subRoute: 'setup' }" 
                     class="btn btn-info btn-small"
                     >Request a Quote</a>
                </div>
            </div> <!--End Service 1 SETUP-->

        <!--Start Service 2 CLEANUP-->
        <div id="cleanup" class="row">
            <div class="col-md-12 service2">
            <h3 class="service-heading">QuickBooks Online Cleanup</h3>
            <p>Taco cat backwards spells taco cat walk on car leaving trail of paw prints on hood and windshield or lick butt and make a weird face mark territory, 
                so kick up litter. Push your water glass on the floor disappear for four days and return home with an expensive injury</p>
            <ul class="listing">
                <li>
                    <p>cat walk on car leaving trail</p>
                </li>
                <li>
                    <p>cat walk on car leaving trail</p>
                </li>
                <li>
                    <p>cat walk on car leaving trail</p>
                </li>
                <li>
                    <p>cat walk on car leaving trail</p>
                </li>
            </ul>
        </div>
        <div class="quote-btn">
            <a
             [routerLink]="'/contact'"
             [state]="{ subRoute: 'cleanup' }" 
             class="btn btn-info btn-small"
             >Request a Quote</a>
        </div>
        </div> <!--End Service 2 CLEANUP-->                

        </div><!--END Left Side Service Descriptions-->
        
        <!--Start right side image-->
        <div class="col-lg-6 text-right">
            <img id="tall-right-img" class="img-fluid shadow" src="/assets/images/vertical-office.jpg">
        </div><!--End right side image-->

    </div><!--End Row-->
</div><!--End Section 1 Services container-->
