<div class="container-fluid single-services">
  <div id="setup" class="row">
    <!--Start Left Descriptions-->
    <div class="col-lg-6 lead service-text">
      <!--Start Service 1 SETUP-->
      <div id="svc1" class="row">
        <div class="col-md-12">
          <h3 class="service-heading">QuickBooks Online Setup</h3>
          <p>
            Onboarding video chat/phone call to evaluate your needs and come up
            with a plan, proposal, and price.<br /><br>
            This service includes:
          </p>
          <ul class="listing">
            <li>
              <p>Quick Overview of QuickBooks Online</p>
            </li>
            <li>
              <p>1 hour screen-share training on using QuickBooks</p>
            </li>
            <li>
              <p>
                Setting up your Business, Company, and Accounts and Settings
              </p>
            </li>
            <li>
              <p>Chart of Accounts</p>
            </li>
            <li>
              <p>Products & Services</p>
            </li>
            <li>
              <p>Customers/Invoices</p>
            </li>
            <li>
              <p>Vendors/Bills</p>
            </li>
            <li>
              <p>Synch your Bank & Credit Card Accounts</p>
            </li>
            <li>
              <p>Income & Expense Accounts</p>
            </li>
            <li>
              <p>Assets/Liability/Equity Accounts</p>
            </li>
            <li>
              <p>Monthly bookkeeping task checklist tailored to your business</p>
            </li>
          </ul>
        </div>
        <div class="quote-btn">
          <a
            [routerLink]="'/contact'"
            [state]="{ subRoute: 'setup' }"
            class="btn btn-info btn-small"
            >Book a Discovery Call</a
          >
        </div>
      </div>
      <!--End Service 1 SETUP-->

      <!--Start Service 2 CLEANUP-->
      <div id="cleanup" class="row">
        <div class="col-md-12 service2">
          <h3 class="service-heading">QuickBooks Online Cleanup</h3>
          <p>
            Process starts with a 30 min free Discovery call to learn about your
            business and your pain points.<br><br> Paid Diagnostic Review for $100, with
            a proposal and cost of cleanup agreement/findings Sign Agreement and
            pay half upfront to get started
          </p>
          <!-- <ul class="listing">
            <li>
              <p>cat walk on car leaving trail</p>
            </li>
            <li>
              <p>cat walk on car leaving trail</p>
            </li>
            <li>
              <p>cat walk on car leaving trail</p>
            </li>
            <li>
              <p>cat walk on car leaving trail</p>
            </li>
          </ul> -->
        </div>
        <div class="quote-btn">
          <a
            [routerLink]="'/contact'"
            [state]="{ subRoute: 'cleanup' }"
            class="btn btn-info btn-small"
            >Book a Discovery Call</a
          >
        </div>
      </div>
      <!--End Service 2 CLEANUP-->
    </div>
    <!--END Left Side Service Descriptions-->

    <!--Start right side image-->
    <div class="col-lg-6 text-right">
      <img
        id="tall-right-img"
        class="img-fluid shadow"
        src="/assets/images/vertical-office-1000.jpg"
      />
    </div>
    <!--End right side image-->
  </div>
  <!--End Row-->
</div>
<!--End Section 1 Services container-->
