.single-services {
    padding: 2rem 0rem;
  }
  .single-services ul {
    padding-left: 1.5rem;
  }
  .service-text {
    margin-top: 1rem;
  }
  .service-text p {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .service-heading {
    margin-top: 1rem;
    text-align: left;
    letter-spacing: 1px;
    }
  .service-img {
    margin: 1rem 0rem;
  }
  .listing li{
    list-style: square;
    list-style-position: outside;
  }
  .listing li p {
    margin: 0;
  }
  #tall-right-img {
    display: none;
  }
  .quote-btn{
    margin: 1rem auto;
  }
  .service2{
    margin-top: 1.5rem;
  }

  @media(min-width: 375px){
    .single-services {
      padding: 2rem 1rem;
    }
  }
@media(min-width:500px){
  .single-services {
    padding: 2rem;
  }
  .quote-btn{
    margin: 1rem 0.5rem;
  }
}
  /*Tablet view for Service Blocks*/
@media (min-width: 768px) {
  .listing {
    float: left;
    padding-left: 30%;
  }
  .single-services {
    padding: 10% 4rem;
  }
  .service-heading{
    font-size: 37px;
  }
}

/*Labtop view for Service Blocks*/
@media (min-width: 992px) {
  .single-services {
    padding: 3rem;
  }
  #tall-right-img {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 35%;
    max-width: 500px;
  }
  .quote-btn{
    margin-bottom: 0rem;
  }
  .service-text {
    font-size: 1rem;
  }
  .service2{
    margin-top: 1rem;
  }
}

@media (min-width: 1150px) {
  #tall-right-img {
    margin-top: 20%;
  }
}

/*Large Laptop*/
@media (min-width: 1440px) {
  .single-services {
    padding: 3rem 12%;
  }
  #tall-right-img {
    margin-top: 5%;
  }
}

/*Larget Laptop*/
@media (min-width: 1800px) {
  .single-services {
    padding: 4rem 15%;
  }
}