<div class="container-fluid monthly-services" id="monthly">
  <h2 class="text-center mainTitle">Monthly Bookkeeping Services</h2>

  <div class="row">
    <!--Start Cards-->

    <div class="col-lg-6 monthly-card">
      <div class="card bg-light shadow">
        <img
          class="card-img-top"
          src="/assets/images/bargraph.png"
          alt="computer image"
        />
        <div class="card-body monthly-card-body">
          <h4 class="card-title text-center">As Needed</h4>
          <p class="card-text">
            Any of the Full Services but only on as needed basis.
          </p>
          <h6 class="subListTitle"><em>General Ledger</em></h6>
          <ul>
            <li>
              <i class="fa fa-check"></i><span class="liText">Categorize and Reconcile Bank Accounts</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
                Categorize and Reconcile Credit Card Accounts
            </li>
            <li><i class="fa fa-check"></i>Reconcile Assets & Liabilities</li>
            <li>
              <i class="fa fa-check"></i>
                Generate accurate Profit and Loss and Balance Sheet Reports
            </li>
          </ul>
          <h6 class="subListTitle"><em>Accounts Payables</em></h6>
          <ul>
            <li><i class="fa fa-check"></i> Enter/Pay bills</li>
            <li><i class="fa fa-check"></i> A/P Aging</li>
          </ul>
          <h6 class="subListTitle"><em>Accounts Receivables</em></h6>
          <ul>
            <li>
              <i class="fa fa-check"></i> Enter Invoices/Receive payments
            </li>
            <li><i class="fa fa-check"></i> A/R Aging</li>
          </ul>
        </div>
        <div class="card-footer">
          <a
            [routerLink]="'/contact'"
            [state]="{ subRoute: 'asNeeded' }"
            class="btn btn-info"
            >Request a Quote</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-6 monthly-card">
      <div class="card bg-light shadow">
        <img
          class="card-img-top"
          src="/assets/images/building.png"
          alt="computer image"
        />
        <div class="card-body monthly-card-body">
          <h4 class="card-title text-center">Full Service</h4>
          <p class="card-text">
            Full Service - We do it all for you..
          </p>
          <h6 class="subListTitle"><em>General Ledger</em></h6>
          <ul>
            <li>
              <i class="fa fa-check"></i> Categorize and Reconcile Bank Accounts
            </li>
            <li>
              <i class="fa fa-check"></i>
                Categorize and Reconcile Credit Card Accounts
            </li>
            <li><i class="fa fa-check"></i> Reconcile Assets & Liabilities</li>
            <li>
              <i class="fa fa-check"></i>
                Generate accurate Profit and Loss and Balance Sheet Reports
            </li>
          </ul>
          <h6 class="subListTitle"><em>Accounts Payables</em></h6>
          <ul>
            <li><i class="fa fa-check"></i> Enter/Pay bills</li>
            <li><i class="fa fa-check"></i> A/P Aging</li>
          </ul>
          <h6 class="subListTitle"><em>Accounts Receivables</em></h6>
          <ul>
            <li>
              <i class="fa fa-check"></i> Enter Invoices/Receive payments 
            </li>
            <li><i class="fa fa-check"></i> A/R Aging</li>
          </ul>
        </div>
        <div class="card-footer">
          <a
            [routerLink]="'/contact'"
            [state]="{ subRoute: 'fullService' }"
            class="btn btn-info"
            >Request a Quote</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Monthly Services-->
