  .monthly-services {
    background-color: #eee;
    padding: 2rem 0.75rem;;
  }
  .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 70%;
    border-radius: 50%;
  }
  .subListTitle{
    font-size: 20px;
    font-weight: 600;
  }
  .card ul{
    margin-left: 0.5rem;
  }
  .card ul li {
    list-style: none;
    margin-left: 1rem;
    vertical-align: middle;
  }
  .card li i{
    transform: translate(-15px);
  }
  .mainTitle{
  letter-spacing: 1px;
}
.card-footer{
  text-align: center;
}
  @media (min-width: 425px) {
    .card-img-top {
      width: 50%;
    }
    .card-body{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
/*Medium-ish Services Home*/
@media (min-width: 600px) {
    .card-body {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card-img-top {
        width: 200px;
    }
}
  
  /*Tablet view for Service Blocks*/
  @media (min-width: 768px) {
    .monthly-services {
      padding: 10% 6rem;
    }
    .monthly-card-body {
      padding: 2rem 3rem;
    }
    .mainTitle{
      font-size: 37px;
    }
  }
  
  /*Labtop view for Service Blocks*/
  @media (min-width: 992px) {
    .monthly-services {
      padding: 7rem;
    }
    .monthly-card {
      padding: 1rem;
    }
    .monthly-card-body {
      padding: 2rem;
    }
    .card{
        height: 100%;
    }
    .card-img-top {
        height: 200px;
      }
      .card ul{
        margin-left: 0rem;
      }
      .card ul li{
        margin-left: 0.5rem;
      }
  }
  
  
  /*Large Laptop*/
  @media (min-width: 1440px) {
    .monthly-services {
      padding: 4rem 12%;
    }
    .monthly-card-body {
      padding: 2rem 3rem;
    }
  }
  
  /*Larget Laptop*/
  @media (min-width: 1800px) {
    .monthly-services {
      padding: 4rem 20%;
    }
  }
  