@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-blue-gray, 700);
$my-accent: mat-palette($mat-cyan, 700);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);