<div class="container-fluid who-serve-home">
    <div class="row">
        <div class="col-lg-6 who-serve-img">
          <img 
          id="who-img" 
          class="img-fluid" 
          src="/assets/images/who-we-serve-500.jpg"
          srcset="/assets/images/who-we-serve-500.jpg 500w,
          /assets/images/who-we-serve-1000.jpg 1000w,
          /assets/images/who-we-serve-1500.jpg 1250w"
          alt="Clients Photo">
        </div>
        <div class="col-lg-6">
            <div class="who-serve-text lead">
                <h1>WHO WE SERVE</h1>
                <p>We specialize in serving solopreneurs/small business clients using QuickBooks Online software who provide Professional Services. For example, the clients I have worked with are as follows:</p>
                <ul class="listClients">
                  <li>IT Consultants</li>
                  <li>Chiropractors</li>
                  <li>Social Media Consultants</li>
                  <li>Catering Services</li>
                  <li>Event Planning Services</li>
                  <li>Health Coaches</li>
                  <li>Brand Consultants</li>
                  <li>Real Estate Investors</li>
                </ul>
              </div>
            </div>
      </div>
</div>
