<div class="container-fluid who-serve-home">
    <div class="row">
        <div class="col-lg-6 who-serve-img">
          <img id="who-img" class="img-fluid" src="/assets/images/two-ppl.jpg" alt="Clients Photo">
        </div>
        <div class="col-lg-6">
            <div class="who-serve-text lead">
                <h1>WHO WE SERVE</h1>
                <p>Taco cat backwards spells taco cat walk on car leaving trail of paw prints on hood and windshield or lick butt and make a weird face mark territory, 
                  so kick up litter. Push your water glass on the floor disappear for four days and return home with an expensive injury</p>
            </div>
        </div>
      </div>
</div>
