<app-navbar></app-navbar>
<div id="home" class="landing container-fluid shadow">
    <div class="home-wrap">
        <div class="row">
            <div class="col-lg-7 col-xl-6 home-inner overlay shadow">
                <h1 class="cursive-font">Synergy Books</h1>
                <h3 class="opt-text">For All of Your Bookkeeping Needs</h3>
                <a class="btn btn-outline-light" routerLink="/contact">Get Started with a Free Discovery Call</a>
            </div>
        </div>
    </div>
</div> 

<app-who-serve></app-who-serve>

<app-home-services></app-home-services>

